body{/*Etiqueta*/
	margin: 0; /*estilo que se tiene que poner para sacar los margenes por defecto que vienen en el body, 
	ya que sino suma después al contenido*/
	font-family: 'Poppins', sans-serif;
}
/*.{clase: se pueden repetir en el html a diferencia de los id }*/
/*#{id: son unicos e irrepetibles }*/
header .contenedor{/*aplica estilos al contenedor que este dentro del header*/
	display: flex; /*convierte los elementos en cajas flexibles para que sean manipulables*/
	justify-content: space-between;/*justificando el contenido a los espacios*/
}
header ul{
	display: flex;
}
header ul li{
	list-style: none; /*para quitar la viñeta que traen los estilos por default*/
	margin-right: 15px;
}
a{
	text-decoration: none; /*quita el subrayado de los links (header a para solo el header)*/
}
.contenedor{
	max-width: 1280px;
	width: 90%;
	margin: auto;
}
header{
	background: 
	linear-gradient(rgba(84,93,220,.9),
	rgba(96,171,245,.9)),
	url(../imagenes/fondo.jpg); /*imagen con un degradado de color; en este gradiente (compuesto de dos colores) 
	el primero es para el violeta y el segundo es para el celeste*/
	height: 100vh; /*imagen ocupando el 100% alto de view por height, sirviendonos para los dispositivos moviles*/
	background-size: cover; /*adapta la imagen al ancho de nuestra pantalla*/	
}
#contenedor-titulo-flex{
	display: flex;
	justify-content: center;
	margin: 18vh 0; /*Digo que baje el 18% de la ventana (margin-{top/bottom}); 0 para margin-{right/left} */
	/*max-width: 1580px;*/
	width: 100%;
}
h1{
	font-size: 60px;
	color: #fff;
	margin: 0; /*ESPACIADO EXTERNO DEL ELEMENTO (separar el elemento de otros elementos a su alrededor)*/
}
h2{
	font-size: 25px;
	color: #fff;	
}
.contenedor-titulo{
	text-align: center;
}
.contenedor-titulo a, #sobre-mi a, #blog a, #que-esperas a, #contacto input[type="submit"]{
	font-size: 14px;
	color: #fff;
	background: #5cb8ff;
	padding: 14px 24px; /*ESPACIADO INTERNO DEL ELEMENTO (para hacerlo más grande)*/
	width: 128px;
	display: inline-block; /*aplica al elemento en linea propiedades de elemento de bloque, para elementos a, en este caso nuestro boton*/
}
p.logo{ /*aplica un color y tamaño a la aprte del logo del menu*/
	color: #fff;
	font-size: 20px;
}
nav ul li a{ /*color blanco para las palabras de las secciones del menu de navegacion*/
	color: #fff;
}

/*SECCION DE SOBRE MI*/
h3{
	text-align: center;
	font-size: 55px;
	font-weight: normal; /*sino quiero el titulo en negritas*/
	/*font-weight: bold; Peso de la fuente, en este caso negritas*/
}
#sobre-mi .contenedor-sobremi{
	display: flex;
	justify-content: space-around; /*justificando contenido de espacios nuevamente*/
}
#sobre-mi .texto{
	width: 42%;/*Este porcentaje es bueno para que se vea bien en dispositivos moviles*/
}

/*SECCION SERVICIOS*/
.contenedor-servicios{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	color: #fff;
}
.servicio{
	width: 24%;
	padding: 34px 30px 38px 30px;
	border-radius: 10px;
	margin-bottom: 40px;
	position: relative; /*se usa como base del elemento que se va a posicionar como absolute*/
}
.servicio h4{
	font-size: 30px;
	margin: 0;
}
.servicio p{
	margin-bottom: 20px;
	height: 225px; /*los parrafos son iguales en cuanto altura, haciendo que los iconos esten en linea*/
}
.contenedor-servicios .violeta{ /*Generando el gradiente: https://www.colorzilla.com/gradient-editor/*/
    background: linear-gradient(to top, #5055df, #6d68f3); /*El gradiente va de abajo hacia arriba (to top, color 1, color 2)*/
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);
}
.contenedor-servicios .celeste{ /*Generando sombra: https://www.cssmatic.com/box-shadow*/
    background: linear-gradient(to top, #40a8f9, #5cb8ff); /*no se tiene rgba porque no se necesita transparencia*/
    box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);/*sombra de la caja: anchura, altura, radio de la sombra, radio de propagación, código de color*/
}
.ondas{
  position: absolute; /*se posiciona sobre el div clase servicio ya que contiene relative*/
  left: 0; /*va desde el nivel 0 de la izquierda*/
  bottom: 0;  /*va desde el nivel 0 de la izquierda*/
}
.icono{
  float: right; /*flota el contenido a la derecha*/
}

/*SECCION MIS TRABAJOS*/
button.owl-prev, button.owl-next{
	font-size: 40px !important;
}
span{ /*Etiqueta para poner un elemento entre una etiqueta y ponerle estilos*/
	color: #71bcfa;
}
#mis-trabajos p{
  	text-align: center;
	color: #000;
}

/* SECCION POR QUE TRABAJAR CONMIGO */
.contenedor-trabajar{
  	display: flex; /*se ponen los divs alineados, uno a lado del otro*/
  	flex-wrap: wrap; /*detecta que si los elementos ocpuan mucho lugar, baja a otra linea*/
  	justify-content: space-around; /*los separamos un poco*/
}
#por-que-trabajar .item{
  	width: 28%;
  	text-align: center;
}
#por-que-trabajar ul li{
  	list-style: none; /*Quitamos viñetas a las listas*/
}
#por-que-trabajar ul li:nth-child(2){/*llamo al elemento hijo num.2 (velocidad); ul es el padre ya que contiene a los li*/
  	font-weight: bold;
  	font-size: 19px;
  	margin-top: 5px;
  	margin-bottom: 20px;
}
#por-que-trabajar ul li:nth-child(3){ /*sería lo mismo que poner last-child ya que es el ultimo elemento*/
  	line-height: 31px; /*alto de línea, para separar los renglones*/
}

/* SECCION BLOG */
#blog{
  background: #F9FAFC; /*fondo de distinto color blanco para esta seccion*/
}
#blog .contenedor-publicaciones{
  	display: flex;
  	justify-content: space-around;
}
#blog .publicacion{
  	width: 30%;
  	box-shadow: 1px 1px 14px #ccc;
}
#blog img{
    width: 100%; /*Para que ocupe el 100% de su contenedor, en este caso div class publicacion*/
}
#blog .contenido{
  	background: #fff;
  	padding: 20px;
}
#blog h4{
  	font-size: 23px;
  	margin: 0; /*Quita el espacio por defecto que hay entre h4 y la imagen*/
  	margin-bottom: 15px;/*Separamos al párrafo de abajo*/
}
#blog p{
  	color: #5A6169;
  	line-height: 24px; /*alto de línea para separar los renglones*/
  	font-size: 16px;
}
#blog a{
  	width: 87px; /*Para hacer menos ancho el botón*/
}

/*SECCION QUE ESPERAS*/
#que-esperas{
    background: linear-gradient(rgba(84,93,220,.94), rgba(96,171,245,.9)); /*degradado de color*/
  	text-align: center;
  	padding: 50px 0; /*separar la seccion de las otras*/
  	margin-top: 40px; /*separar de las publicaciones*/
}
#que-esperas h3{
  	font-size: 23px;
  	color: #fff;
}

/* SECCION CONTACTO */
#contacto form{
  	display: flex;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	width: 77%;
  	margin: auto; /*siempre que se tiene un width fijo se usa para centrar*/
}
input[type="text"], input[type="email"]{
  	width: 49%;
  	margin-bottom: 15px;
  	padding: 18px 0;
  	border: 0;
  	border-bottom: 1px solid #5cb8ff; /*borde del tamaño de 1px que es la línea donde escribe*/
  	font-size: 17px;
}
textarea{ /*Estilo para el mensaje*/
  	padding: 18px 0;
  	border: 0;
  	border-bottom: 1px solid #5cb8ff;
  	font-size: 17px;
  	margin-bottom: 40px;
  	width: 100%;
}
#contacto input[type="submit"]{
	width: 166px;
  	margin: auto;
}
.contacto-info{
    display: flex;
    justify-content: space-around;
    margin-top: 60px; /*para separarlo un poco del formulario*/
}
.contacto-info img{
    width: 28px;
    vertical-align: middle; /*alineamiento vertical enmedio para que se ponga en la misma linea que el texto*/
    margin-right: 10px; /*separo imagen del texto*/
}

/*FOOTER*/
footer{
    background: #2F2F2F;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px; /*lo separo un poco de contacto info*/
}
footer .contenedor{ /*contiene el div de las redes como el del parrafo*/
    display: flex;
    justify-content: center;
    flex-direction: column; /*se posiciona uno debajo del otro*/
}
footer img{
    margin: 0 40px; /*para que se separen un poco*/
    transform: rotate(0); 
    transition: 0.4s;
}
footer img:hover{ /*cuando pasamos el mouse por encima del elemento hace dicho efecto*/
    transform: rotate(360deg); /*hago que rote 360 grados*/
    transition: 0.4s; /*tiempo de transicion en el cual quiero que se de la rotacion*/
}
footer p{
    color: #fff;
    margin-top: 40px; /*lo separo un poco de las redes*/
}

/*WHATSAPP LOGO FIJO*/
#whatsapp{
    position: fixed;
    top: 80%;
    right: 1%;
}

/*SCROLL MENU*/
html{
    scroll-behavior: smooth; /*comportamiento del scroll*/
}
#mis-trabajos, #sobre-mi, #por-que-trabajar, #blog, #contacto{
    padding: 90px 0; /*para que no me corte el titulo*/
}
#servicios{
    padding: 70px 0;
}
.menu-icon{
    display: none; /*le digo que no aparezca el icono del menu en computadoras*/
}

/*PARTE RESPONSIVA PARA DISPOSITIVOS MOVILES*/
/*Se va a ver en dispositivos que tengan un maximo de ancho de 800px para tablet y telefono*/
@media (max-width:800px){
    .menu-icon{
        display: block;/*le digo que aparezca el boton de menu en dispositivos moviles*/
        float: right;
        width: 40px;
        height: 35px;
        margin-top: 15px;
    }
    header nav{
        position: absolute;
        top: 83px;
        left: 0;
        height: 268px;
        background: #5cb8ff;
        width: 100%
        display:none;
    }
    header nav ul{
        flex-direction: column;/*los elementos se ponen uno encima de otro*/
    }
    header nav ul li{
        margin-bottom: 15px;
    }
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 19px;
    }
    #sobre-mi .contenedor-sobremi{
        flex-direction: column;
    }
    #sobre-mi img{
        width: 100%;
    }
    #sobre-mi .texto{
        width: 100%;
    } 
    .contenedor-servicios{
        flex-direction: column;
    }
    .servicio{
        width: 82%;
        padding: 34px 30px 69px 30px;
    }
    .icono{
        margin-top: 23px;    
    }
    h3{
        font-size: 43px;
    }
    .contenedor-trabajar{
        flex-direction: column;
    }
    #por-que-trabajar .item{
        width: 100%;
    }
    .item ul{
        padding:0;
    }
    #blog .contenedor-publicaciones{
        flex-direction: column;
    }
    #blog .publicacion{
        width: 100%;
        margin-bottom: 40px;
    }
    #contacto form{
        width: 100%;
        flex-direction: column;
    }
    input[type="text"], input[type="email"]{
        width: 100%;
    }
    footer img{
        margin: 0 24px;
    }
}

/*Toma estilos para pantallas de tablets*/
@media (min-width: 600px) and (max-width:800px){
    header{
        height: 70vh;    
    }
    .servicio{
        width: 57%;
        padding: 34px 30px 69px 30px;
        margin: auto;
        margin-bottom: 45px;
    }
    #blog .publicacion{
        width: 71%;
        margin: auto;
        margin-bottom: 40px;
    }

}